# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Flask session and instance files
flask_session/
instance/
*.db
*.sqlite3

# Build and packaging
build/
dist/
*.egg-info/
src/snakejack.egg-info/

# VSCode workspace
*.code-workspace

# Test cache
*.pytest_cache/

# OS files
.DS_Store

# Ignore wheel and distribution files
*.whl

# Ignore logs
*.log

# Ignore local tools/scripts
/tools/

# Ignore macOS system files
Icon?

# Ignore MANIFEST and pip cache
MANIFEST
pip-wheel-metadata/

# Ignore backup files
*~